<center>	
	<h1 id="quote">"All you need is love. But a little chocolate now and then doesn't hurt." - Charles M. Schulz</h1>
	<form id="new-photo-form">
		<div id='upload-preview'></div>
	    <div id='restaurant-rating'></div>
		<input type="filepicker"
			   name="photo[filepicker_url]"
			   class="btn btn-primary"
			   data-fp-button-text="Choose an Image"
			   data-fp-mimetype="image/*"
			   data-toggle="collapse"
			   href="#details">

		<input type="submit" value="Upload" class="btn btn-success">
	</form>
</center>

