<form id="new-photo-form">
	<label for="photo_review">Review</label>
	<input type="text" 
		   id="photo_review"
		   class="form-control"
		   name="photo[review]"
		   style="width: 400px">
	<input type="filepicker"
		   name="photo[filepicker_url"
		   class="btn btn-primary">
	<input type="submit" value="Upload" class="btn btn-success">
</form>

