
<form id="new-photo-form">
	<div id='upload-preview'></div>

	<input type="filepicker"
		   name="photo[filepicker_url"
		   class="btn btn-primary"
		   data-fp-button-text="Choose an Image"
		   data-fp-mimetype="image/*"
		   data-toggle="collapse"
		   href="#details">
	<input type="submit" value="Upload" class="btn btn-success">
</form>

