<h3>All Photos</h3>
<% photos.each(function (photo) { %>
  <div class="col-sm-6 col-md-4" id="image-wrapper">
    <a href="#" class="thumbnail">
     <img src="<%= photo.get("filepicker_url") %>">
    </a>
  </div>
<% }) %>