<ul class="nav nav-tabs">
  <li role="presentation" id="most-liked-li"><a class="most-liked" href="#">Most Likes</a></li>
  <li role="presentation" id="highest-rated-li"><a href="#" class="highest-rated">Highest Reviews</a></li>
</ul>

<div class="clearfix" id="allphotos">
	<% photos.each(function (photo) { %>
	  <div class="col-sm-6 col-md-4" id="image-wrapper">
	    <a href="#/photos/<%= photo.id %>" class="thumbnail">
	     <img src="<%= photo.get("filepicker_url") %>">
	    </a>
	  </div>
	<% }) %>
</div>
<div class="sk-spinner sk-spinner-rotating-plane" id="spinner"></div>
