<h3><%= menuitem.get("name") %></h3>
<% menuitem._photos.each(function (photo) { %>
	  <div class="col-sm-6 col-md-4" id="image-wrapper">
	    <a href="#/photos/<%= photo.id %>" class="thumbnail">
	     <img src="<%= photo.get("filepicker_url") %>">
	    </a>
	  </div>
<% }) %>