/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .

 *= require_self

 */

@import "bootstrap";

#splash { 

}


.sign-container {
	    background-image: url("../assets/plate.jpg");
	    background-size: 100%;
	    height: 715px;
	    overflow-y: auto;
	    width: 100%;
}

.sign {
	border: 1px solid black;
	width: 500px;
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20%;
	input {
		margin: 3px;
	}
}

#sign-content {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	text-align: center;
	margin-bottom: 30px;
}

* {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

p {
	font-size: 18px;
}

.content {
	width: 1200px;

}

.explore {
	width: 1000px;
	margin: 0 auto;
}

#upload-preview {
	img {
		border: 1px dotted gray;
		height: 400px;
		width: 400px;
		object-fit: contain;
	}
}

.upload-form-wrapper {
	width: 33%;
	margin: 0 auto;
}

.showPhoto {
	max-width:600px;
	max-height:600px;
	img#photo {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}

#image-wrapper.col-sm-6.col-md-4 img {
	height: 220px;
	width: 330px;
	object-fit: cover;
}

#image-wrapper.col-sm-6.col-md-4 img:hover {
	height: 220px;
	width: 340px;
	border: 1px solid #CCCCCC;
	-ms-transform: rotate(5deg);
	-webkit-transform: rotate(5deg); 
}

#allphotos {
	padding-bottom: 1100px;
}

#spinner {
	display: block;
	margin-bottom: 100px;
}

.sk-spinner-rotating-plane.sk-spinner {
  width: 30px;
  height: 30px;
  background-color: #333;
  margin: 0 auto;
  -webkit-animation: sk-rotatePlane 1.2s infinite ease-in-out;
          animation: sk-rotatePlane 1.2s infinite ease-in-out; }
@-webkit-keyframes sk-rotatePlane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
            transform: perspective(120px) rotateX(0deg) rotateY(0deg); }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
            transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }
@keyframes sk-rotatePlane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
            transform: perspective(120px) rotateX(0deg) rotateY(0deg); }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
            transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }