// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.showPhoto {
	margin-left: auto;
	margin-right: auto;
}

#photo-show:focus {
	outline:none;
}

#quote {
	font-family: 'Amatic SC', cursive;
	margin-top: 20px;
	margin-bottom: 20px;
}

#photo-container {
	position: relative;
}
#like-mark,
#photoz {
    position: absolute;
    top: 0;
    left: 0;
}

#like-mark img {
	height: 400px;
	width: 400px;
	margin-top: -10px;
	margin-left: 70px;
}

.nav.nav-tabs {
	margin-bottom: 15px;
}

#photo-show {
	margin-top: 80px;
	margin-bottom: 80px;
	border: 2px solid #CCC;
	padding: 20px;
	padding-bottom: 0px;
	border-radius: 5px;
	img#photo {
		border: 1px solid #999;
	}
}

#clothespin {
	position: absolute;
	top: 60px;
	left: 700px;
	width: 40px;
}

#string {
	position: absolute;
	height: 80px;
	top: 60px;
	left: -50px;
	width: 1500px;
	box-shadow: 5px;
}

#who-liked {
	border: 1px solid #CCC;
	padding: 8px;
	font-size: 15px;
}

#photo-detail {
	margin-top: 15px;
	padding: 5px;
}

#heart-icon {
	height: 20px;
	width: 20px;
}

#rating {
	margin-top: 3px;
	margin-bottom: 3px;
}