// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.showPhoto {
	margin-left: auto;
	margin-right: auto;
}

#photo-show:focus {
	outline:none;
}

#quote {
	font-family: 'Amatic SC', cursive;
	margin-top: 20px;
	margin-bottom: 20px;
}

#photo-container {
	position: relative;
}
#like-mark,
#photoz {
    position: absolute;
    top: 0;
    left: 0;
}

#like-mark img {
	height: 400px;
	width: 400px;
	margin-left: 100px;
}

.nav.nav-tabs {
	margin-bottom: 15px;
}
