// Place all the styles related to the StaticPage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-group {
  width: 400px;
}


.form-control.typeahead.tt-input, .form-control.typeahead.tt-hint {
  width: 400px;
}

#search {
	width: 400px;
	background-color: white;
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
  width: 400px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

.dataset-header {
  margin: 10px 20px 5px 20px;
  padding: 3px 0;
  border-bottom: 1px solid #ccc;
  text-align: center;
}